<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css">

<%if logged_in? %>

<h1>Your completed rounds:</h1>
<% current_user.rounds.select {|round| round.finished_deck }.each do |round| %>
  <h1><%= round.deck.name %></h1>
  <p>Started at <%= round.created_at %></p>
  <p>Total Cards: <%=round.deck.cards.count%></p>
  <p>Total Correct Guesses:<%=round.count_correct_guesses%></p>
  <p>Total Correct Guesses on First try:<%=round.count_correct_first_guesses%></p>
  <p>Total Guesses Attempted: <%=round.total_guesses%></p>
<% end%>

<h1>Your Outstanding rounds:</h1>
<% current_user.rounds.select {|round| round.finished_deck == false }.each do |round| %>
  <h1><%= round.deck.name %></h1>
  <p>Started at <%= round.created_at %></p>
  <p>Total Cards: <%=round.deck.cards.count%></p>
  <p>Total Correct Guesses:<%=round.count_correct_guesses%></p>
  <p>Total Correct Guesses on First try:<%=round.count_correct_first_guesses%></p>
  <p>Total Guesses Attempted: <%=round.total_guesses%></p>
    <form method="post" action="/rounds/<%= round.id %>/">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  <a href="/rounds/<%= round.id%>/">Continue this round</a>
<% end%>

<%else %>
<h1>Please login/register to view your profile.</h1>
<% end %>
