<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css">

<h1> <%= @deck.name %> </h1>
<h3> There are <%= @deck.cards.count %> cards </h3>
<h4><% @deck.cards.each do |card|%>
  <%if @deck.user_id == nil %>
    <%=card.question%>
  <%elsif @deck.user_id == current_user.id %>
    <a href="/decks/<%=@deck.id%>/cards/<%=card.id%>/edit"><%=card.question%></a>
  <%end%>
<% end%></h4>

<%if @deck.user_id == current_user.id %>
<h4> Click on a question to edit or delete</h4>
<a href="/decks/<%=@deck.id%>}/cards/new">Click here to add a card to this deck</a>
<%end%>


<% if logged_in? %>
<form action="/decks/<%=@deck.id%>" method = "post">
  <input type = 'submit' value = 'Play Now'/>
</form>
<% else %>
<h1>Please login/register. </h1>
<% end %>

